extends ../layout

block content
  .text-center
    h1.text-success.mb-4 ✔ Admisión registrada correctamente
    a.btn.btn-primary(href="/admisiones") Volver a Admisiones
    a.btn.btn-secondary.ms-2(href="/") Ir al Inicio