extends ../layout

block content
  h1.mb-4 Seleccionar Paciente para Admisión

  .card.p-3
    table.table.table-hover
      thead
        tr
          th DNI
          th Nombre
          th Sexo
          th Acción
      tbody
        each p in pacientes
          tr
            td= p.dni
            td= p.apellido + ", " + p.nombre
            td= p.sexo
            td
              a.btn.btn-sm.btn-primary(href=`/admisiones/seleccionar-cama/${p.dni}`) Seleccionar
    a.btn.btn-secondary.mt-3(href="/admisiones") Volver a Admisiones