head
    title Identificar Paciente

    link(
        rel="stylesheet"
        href="/css/emergencias.css"
    )

body.form-emergencia

    .form-card

        h1 Identificar Paciente

        .codigo-temporal

            = emergencia.codigo_temporal

        form(method="POST")

            .grupo

                label Paciente

                select(name="dni_paciente")

                    each paciente in pacientes

                        option(value=paciente.dni)
                            = paciente.apellido + ", " + paciente.nombre

            button.btn-guardar(type="submit")
                | Asociar Paciente