extends ../layout

block content
  h1.mb-4 Dar Alta al Paciente

  .card.p-4
    h4 Paciente: #{internacion.nombre} #{internacion.apellido}
    p Cama asignada: #{internacion.cama}

    form(action="/alta/guardar" method="POST")
      input(type="hidden" name="id_internacion" value=internacion.id_internacion)

      p.mb-3
        | ¿Confirmar alta del paciente? Se liberará la cama y se cerrará la admisión.

      button.btn.btn-success(type="submit") Confirmar Alta
