doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title Acceso Denegado
        link(rel="stylesheet", href="/css/dashboard.css")

    body

        h1 Acceso Denegado

        p No tiene permisos para acceder a esta sección.

        a(href="/dashboard")
            | Volver al Dashboard