doctype html
html
    head
        title Altas Hospitalarias

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body

        include ../header

        .contenedor

            h1
                | Altas Hospitalarias

            .grupo

                table

                    thead
                        tr
                            th Paciente
                            th Cama
                            th Acción

                    tbody

                        each paciente in pacientes

                            tr

                                td
                                    = paciente.apellido + ", " + paciente.nombre

                                td
                                    = paciente.codigo

                                td

                                    a.btn-alta(
                                        href=`/altas/generar/${paciente.id_admision}`
                                    )
                                        | Dar Alta

                a.btn.btn-circle.btn-success(
                    href="/dashboard"
                )
                    | Volver